/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #1E2C39;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #f4f3ec;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #6c6b5a;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #22221b;
  list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #7d9726;
  }

  /* keyword */

  .kwd {
    color: #5f9182;
  }

  /* comment */

  .com {
    color: #6c6b5a;
  }

  /* type name */

  .typ {
    color: #36a166;
  }

  /* literal value */

  .lit {
    color: #ae7313;
  }

  /* punctuation */

  .pun {
    color: #f4f3ec;
  }

  /* lisp open bracket */

  .opn {
    color: #f4f3ec;
  }

  /* lisp close bracket */

  .clo {
    color: #f4f3ec;
  }

  /* markup tag name */

  .tag {
    color: #ba6236;
  }

  /* markup attribute name */

  .atn {
    color: #ae7313;
  }

  /* markup attribute value */

  .atv {
    color: #5b9d48;
  }

  /* declaration */

  .dec {
    color: #ae7313;
  }

  /* variable name */

  .var {
    color: #ba6236;
  }

  /* function name */

  .fun {
    color: #36a166;
  }
}
@media screen and (max-width:768px){
  .prettyprint{
    font-size: 10px;
    width: calc(100% - 2 * 20px );
    overflow-x: scroll;
    background-color: rgba(10,10,10,10);
  }
}
@media screen and (min-width:767px){
  .prettyprint{
      margin-top: 10px;
      font-size: 12px;
      background-color: rgba(10,10,10,10);
      padding: 20px;
      border: 2px solid #6ead3a;
      border-radius: 4px;

      width: 50vw;
  }
}

input[id^="spoiler"]{
 display: none;
}
input[id^="spoiler"] + label {
  display: inline;
  margin: 0 auto;
  padding: 5px 20px;
  background: #6ead3a;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: all .6s;
  border-radius: 2px;

}
input[id^="spoiler"]:checked + label {
  background-color: #497723;
}
input[id^="spoiler"] ~ .spoiler {
  height: 0;
  opacity: 0;
  transition: all .6s;
}
input[id^="spoiler"]:checked + label + .spoiler{
  height: auto;
  opacity: 1;
  padding: 10px;
}
