@import url('https://unpkg.com/dracula-prism/css/dracula-prism.css');
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Mono Italic'), local('IBMPlexMono-Italic'), url(https://fonts.gstatic.com/s/ibmplexmono/v6/-F6pfjptAgt5VM-kVkqdyU8n1ioa1Xdl.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Mono'), local('IBMPlexMono'), url(https://fonts.gstatic.com/s/ibmplexmono/v6/-F63fjptAgt5VM-kVkqdyU8n1i8q0g.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('IBM Plex Sans Thin Italic'), local('IBMPlexSans-ThinItalic'), url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX8KVElMYYaJe8bpLHnCwDKhdTmdJZLUdc.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'), url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX-KVElMYYaJe8bpLHnCwDKhdTuF6ZM.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'), url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX7KVElMYYaJe8bpLHnCwDKhdTmrINcdvfr.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('IBM Plex Sans Thin'), local('IBMPlexSans-Thin'), url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX-KVElMYYaJe8bpLHnCwDKjbLuF6ZM.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYXgKVElMYYaJe8bpLHnCwDKhdHeEA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans Condensed Italic'), local('IBMPlexSansCond-Italic'), url(https://fonts.gstatic.com/s/ibmplexsanscondensed/v7/Gg8nN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYas-KzLhQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans Condensed'), local('IBMPlexSansCond'), url(https://fonts.gstatic.com/s/ibmplexsanscondensed/v7/Gg8lN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYapyKs.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Serif Italic'), local('IBMPlexSerif-Italic'), url(https://fonts.gstatic.com/s/ibmplexserif/v9/jizBREVNn1dOx-zrZ2X3pZvkTiUa6zUTiw.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Serif'), local('IBMPlexSerif'), url(https://fonts.gstatic.com/s/ibmplexserif/v9/jizDREVNn1dOx-zrZ2X3pZvkTiUf2zI.ttf) format('truetype');
}
@media screen and (max-width: 768px) {
  .not-mobile {
    display: none;
  }
  h1,
  h2,
  h3,
  .mobile-center {
    text-align: center !important;
    text-justify: auto;
  }
  iframe.mobile-center {
    display: block;
    margin: 0 auto;
  }
  main nav {
    margin-top: calc(55px + 1vh);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  main nav.mobile_active {
    height: auto;
    max-height: 100vh;
  }
  /* single elements should be exactly 50px in size */
  main nav div {
    height: 50px;
  }
  /* make sure each tag takes its own row */
  main nav a {
    display: block;
    text-decoration: none;
    padding: 15px 8vw;
  }
  main nav div a {
    color: #1E2C39;
  }
  main nav i {
    color: #1E2C39;
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: 2vh;
  }
  /* slightly adjust the position of the article */
  main article {
    position: relative;
    text-align: justify;
    top: 20px;
    left: 10vw;
    width: 80vw;
    padding-bottom: 40px;
  }
  /* make the footer move quite a bit */
  footer {
    position: relative;
    width: 100%;
    background-color: #324151;
    color: #fff;
    height: 10vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tooltip,
  .hider {
    visibility: hidden;
    display: none;
  }
  .personal-image-container {
    margin: 10px auto;
    display: block;
    background-image: url("../media/Photo_denoised.png");
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 200px;
    border-radius: 3px;
    border: 2px solid #6ead3a;
  }
  article img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}
@media screen and (min-width: 767px) {
  .only-mobile {
    display: none;
  }
  p {
    text-align: justify;
  }
  /* ###############
 * THEFKNMOON LOGO
 */
  main .image-container {
    position: fixed;
    /* make sure the logo always stays on top*/
    right: calc(10vw - 60px);
    /* logo on the right side of the screen */
    top: 5vh;
    /*logo in the same line as the menu elements, excluding their padding */
    height: 40px;
    width: 150px;
    /* the funny logo */
    background-image: url("../media/logo.jpg");
    background-size: cover;
    z-index: 100;
    /*make sure that the image stays on top*/
    border: 3px solid black;
    padding: 2px;
  }
  article p {
    width: 60%;
  }
  article pre {
    width: 60%;
  }
  /* ##########
 * NAVIGATION
 */
  main nav {
    /* make sure the navigation always stays on top*/
    position: fixed;
    left: 10vw;
    /* some space to the left*/
    top: 5vh;
    /* and some space from the top */
    height: 65px;
    z-index: 100;
    /*make sure that the image stays on top*/
  }
  main nav div {
    display: inline-block;
    height: 50px;
  }
  main nav a {
    display: inline-block;
    padding: 15px;
    border-radius: 2px;
  }
  main nav i {
    display: none !important;
  }
  main article {
    position: relative;
    margin-top: calc(5vh + 65px + 20px);
    left: 10vw;
    width: 80vw;
    margin-bottom: 100px;
    padding-top: 10px;
    z-index: 0;
  }
  /*easy fix to make sure that the navigations isn't disturbed by a bunch of text in the background */
  .hider {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(5vh + 65px);
    background: #1E2C39;
    z-index: 99;
    /* just below the navigation */
    border-bottom: 4px solid #6ead3a;
    /* narly little bar at the bottom */
  }
  /* ##################
 * FOOTER POSITIONING
 */
  /* #########################
 * SCROLL TO RIGHT POSITION
 */
  h1::before {
    display: block;
    content: " ";
    margin-top: -150px;
    height: 150px;
    visibility: hidden;
    pointer-events: none;
  }
  h1 {
    margin-top: 50px;
  }
  /* #######
 * TOOLTIP
 */
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
  }
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #1E2C39;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 1s;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  article li {
    margin-left: 35px;
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
  }
  .tooltip .tooltiptext {
    top: -5px;
    right: 130%;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 33%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #1E2C39;
  }
  .personal-image-container {
    margin: 0 20vw 0 0;
    float: right;
    background-image: url("../media/Photo_denoised.png");
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 200px;
    border-radius: 3px;
    border: 2px solid #6ead3a;
  }
  .blog-dense > article:nth-of-type(1) {
    padding: 0px !important;
  }
  .blog-dense > article:nth-of-type(1) h1::before {
    display: block;
    content: " ";
    margin-top: -150px;
    height: 150px;
    visibility: hidden;
    pointer-events: none;
  }
  .blog-dense > article {
    margin-bottom: 80px;
  }
  .blog-dense > article:not(:nth-of-type(1)) {
    padding: 0;
    margin-top: 0;
  }
  .blog-dense > article:not(:nth-of-type(1)) h1::before {
    margin: 0;
    height: 0;
  }
  .utterances-style {
    width: 80vw;
    left: 10vw;
    position: relative;
  }
  .utterances-style > div {
    width: 60%;
  }
}
* {
  margin: 0;
  padding: 0;
}
/* a nice font for all the things */
a,
h1,
h2,
h3 {
  font-family: 'IBM Plex Sans', sans-serif;
}
/* some privacy for the Headers */
h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1E2C39;
}
/* BIG TEXT for h1 */
h1 {
  text-transform: uppercase;
}
/* nicer color + better style for anchors */
a {
  text-decoration: none;
  color: #497723;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
p,
li {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  line-height: 22pt;
  font-size: 12pt;
  color: #324151;
}
/* links in the navigation should be black */
main nav a {
  color: #f8f8f8;
  font-size: 20px;
}
/* except for when they have been clicked */
main nav a.active {
  background-color: #6ead3a;
  color: #fff;
}
/* footer gets some seriously small text */
footer p,
footer a {
  font-size: 11.5px;
  padding: 20px;
  line-height: normal;
  color: #6ead3a;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  min-height: 100vh;
}
main {
  flex: 1 0 auto;
}
footer {
  position: relative;
  width: 100%;
  background-color: #1E2C39;
  color: #fff;
  height: 120px;
  flex-shrink: 0;
}
article .tldr + p {
  float: left;
  width: 50vw !important;
}
img {
  border-radius: 3px;
}
.fa-discord {
  transform: translateY(6.3%);
}
