@import url('colors.less');

/* single elements should be exactly 50px in size */
main nav div {
  height: 50px;
}

/* make sure each tag takes its own row */
main nav a {
  display: block;
  text-decoration: none;
  padding: 15px 8vw;
}

/* slightly adjust the position of the article */
main article {
  position: relative;
  text-align: justify;
  top: 20px;
  left: 10vw;
  width: 80vw;
  padding-bottom: 40px;
}

/* make the footer move quite a bit */
footer {
  position: relative;
  width: 100%;
  background-color: @main_medium;
  color: #fff;
  height: 10vh;
  padding: 200px;
}
.tooltip, .hider { visibility: hidden; display: none; }
